.select-field {
  display: flex;
  align-items: center;
  height: 55px;
  top: 100px;
  left: 17px;
  background: #F9F9F9;
  margin-left: 17px;
  /*!*width: 1170px;*! Use this property to correct styling width */
  justify-content: space-between;
}

.select-field > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-field > div > div {
  left: 0px;
  top: 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
}

header div:first-child {
  margin-left: 23px;
}

header div:last-child {
  margin-right: 95px;
}


.select-field > div > img {
  margin-left: 5px;
}
