@import "../../../../../mixins";

.select-field {
  @include _1024 {
    flex-wrap: wrap;
  }
  @include _836 {
    flex-wrap: wrap;
  }
  @include _600 {
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 0 0;
    margin: 0 45px;
  }
  display: flex;
  align-items: center;
  padding: 16px 97px 16px 45px;
  background: #F9F9F9;
  justify-content: space-between;
  margin: 0 27px 0 62px;
}

.select-field > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-field > div > div {
  @include _1024 {
    font-size: 14px;
  }
  @include _836 {
    font-size: 13px;
  }
  @include _600 {
    font-size: 12px;
  }
  @include _600 {
    display: none;
  }
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.select-field > div > img {
  @include _600 {
    display: none;
  }
  margin-left: 5px;
}

.media-select .mat-form-field {
  display: none;
  @include _600 {
    display: block;
  }
}
