.select-field {
  display: flex;
  align-items: center;
  height: 55px;
  background: #F9F9F9;
  justify-content: space-between;
  margin: 0 27px 0 62px;
}

.select-field > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-field > div > div {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

header div:first-child {
  margin-left: 23px;
}

header div:last-child {
  margin-right: 95px;
}


.select-field > div > img {
  margin-left: 5px;
}
