<div class="product-item">
  <div class="item-image">
    <img src="" alt="product-image">
  </div>
  <span class="item-info">
    <span class="item-description">
      <h2>Product title</h2>
      <h4>Space for a small product description</h4>
      <span class="rate-star">
        <div><img src="../../assets/rate-star-filled.png" alt="filled rate star"></div>
        <div><img src="../../assets/rate-star-filled.png" alt="filled rate star"></div>
        <div><img src="../../assets/rate-star-filled.png" alt="filled rate star"></div>
        <div><img src="../../assets/rate-star-filled.png" alt="filled rate star"></div>
        <div><img src="../../assets/rate-star.png" alt="rate star"></div>
      </span>
      <div class="characteristics">
      <div class="characteristic-property">
        <div>Freshness</div>
        <div>Farm</div>
        <div>Delivery</div>
        <div>Stock</div>
      </div>
      <div class="characteristic-value">
        <div>New (Extra fresh)</div>
        <div>Grocery Farm Fields</div>
        <div>Europe</div>
        <div>320pcs</div>
      </div>
    </div>
    </span>
    <span class="item-detail">
      <div class="item-detail-title">
        <h2>36.99 USD</h2>
        <h4>48.56</h4>
        <p>Free Shipping</p>
        <p>Delivery in 1 day</p>
      </div>
      <div class="item-order">
        <div class="product-detail">
          <a href="/ordering"><button>Product Detail</button></a>
          <img src="../../assets/arrow-right.png" alt="arrow-right" width="15">
        </div>
        <div class="wishlist">
          <img src="../../assets/wishlist-icon.png" alt="wishlist-icon">
           <button>Add to wish list</button>
        </div>
      </div>
    </span>
  </span>
</div>
