@import "../../../../../mixins";

.product-item {
  @include _836 {
    flex-direction: column;
    height: 575px;
    width: 100%;
  }
  @include _380 {
    flex-direction: column;
    height: 475px;
    width: 100%;
  }
  display: flex;
  justify-content: space-between;
  height: 280px;
  margin-bottom: 32px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.product-card {
  @include _836 {
    width: 100%;
  }
}

.item-image {
  @include _970 {
    min-width: 270px;
  }
  @include _836 {
    width: 100%;
    height: 60%;
  }
  @include _380 {
    width: 100%;
    height: 50%;
  }
  width: 30.97%;
}

.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  border-right: 1px solid #D1D1D1;
}

.item-info {
  @include _836 {
    width: 100%;
    padding: 15px 20px;
    height: 40%;
    flex-direction: row;
  }
  @include _570 {
    padding: 10px 15px;
  }
  @include _515 {
    height: 39%;
  }
  @include _450 {
    padding: 5px 10px;
  }
  @include _420 {
    padding-top: 10px;
  }
  @include _380 {
    height: 47%;
    padding: 5px 5px;
  }
  width: 69.03%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

.item-description {
  width: 50.56%;
}


.item-description h2 {
  margin: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.item-description h4 {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
  margin: 4px 0 0;
}

.rate-star {
  @include _836 {
    width: 35%;
  }
  display: flex;
  margin-top: 10px;
  width: 65%;
}

.rate-star div {
  margin-right: 5px;
}

.rate-star div:last-child {
  margin-right: 0;
}

.characteristics {
  @include _836 {
    margin-top: 0;
    padding: 25px 0 0;
  }
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
  width: 88%;
}

.characteristic-property div {
  @include _1125 {
    padding-right: 10px;
  }
  @include _836 {
    margin-bottom: 4px;
    padding-right: 0;
  }
  @include _515 {
    font-size: 12px;
  }
  height: 19px;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
  margin-bottom: 12px;
}

.characteristic-property div:last-child {
  margin-bottom: 0;
}

.characteristic-value div {
  @include _1125 {
    white-space: nowrap;
  }
  @include _836 {
    margin-bottom: 4px;
    margin-left: 15px;
  }
  @include _515 {
    font-size: 12px;
  }
  @include _450 {
    margin-left: 5px;
  }
  height: 19px;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
  margin-bottom: 12px;
}

.characteristic-value div:last-child {
  margin-bottom: 0;
  color: #6A983C;
}

.characteristic-value div:first-child {
  color: #6A983C;
}

.item-detail {
  @include _836 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}


.item-detail-title {
  @include _836 {
    margin-right: 40px;
  }
}

.item-detail-title h2 {
  margin: 0;
  height: 27px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.item-detail-title h4 {
  margin: 0;
  height: 18px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #A9A9A9;
}

.item-detail-title > p {
  @include _836 {
    margin: 10px 0 0;
  }
  height: 18px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
  margin: 16px 0 0;
}

.item-detail-title > p:last-child {
  margin-top: 0;
  height: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.item-order {
  @include _836 {
    padding: 15px 0 0;
  }
  padding: 26px 0 0 8px;
  display: flex;
  flex-direction: column;
}

.product-detail {
  @include _836 {
    justify-content: space-between;
  }
  @include _600 {
    padding: 10px 14px;
  }
  @include _515 {
    padding: 5px 9px;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  background: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
}

.product-detail button {
  @include _600 {
    font-size: 13px;
  }
  @include _515 {
    font-size: 12.5px;
  }
  background: #6A983C;
  border: none;
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.product-detail button:hover {
  cursor: pointer;
}

.wishlist {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  background: #F5F5F5;
  border-radius: 12px;
}

.wishlist button {
  @include _600 {
    font-size: 14px;
  }
  font-family: Poppins;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  border: none;
  background: #F5F5F5;
}

.wishlist button:hover {
  cursor: pointer;
}

