<span class="rating">
    <h2>Rating</h2>
  <div class="rating-filters">
    <div *ngFor="let star of stars">
        <mat-checkbox value="{{(star[star.length - 1])}}" (change)="getCheckboxRate($event)"></mat-checkbox>
      <div class="star" *ngFor="let item of star">
        <span *ngIf="item === starEnums.SolidStar">
          <img src="../../assets/star-symbol-filled.png" alt="filled-start">
        </span>
        <span *ngIf=" item=== starEnums.EmptyStar">
          <img src="../../assets/star-symbol-empty.png" alt="empty-star">
        </span>
      </div>
    </div>
  </div>
</span>
