.sort-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 auto 0;
  width: 181px;
  height: 38px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.first-label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
  width: 47px;
  height: 19px;
  margin-left: 16px;
}

.vertical-line {
  display: flex;
  align-items: center;
}

.second-label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.arrow-down {
  display: flex;
  align-items: center;
  margin-right: 18px;
}
