.sort-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 auto 0;
  width: 16%;
  height: 38px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding: 0 15px;
}

.sort-input .sort-by {
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.vertical-line {
  display: flex;
  align-items: center;
}

.sort-input .sort-select {
  width: 40%;
  padding-top: 8px;
}

.sort-input .mat-form-field {
  width: 100%;
}

.sort-input .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix .mat-select .mat-select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-input .mat-form-field-wrapper {
  padding: 0;
}

.sort-input .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  padding: 0;
  background-color: #F9F9F9;
}

.sort-input .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix {
  height: 20px;
  display: flex;
  align-items: center;
  border: none;
}

.sort-input .mat-form-field .mat-form-field-wrapper .mat-form-field-underline {
  display: none;
}

.sort-input .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix .mat-select .mat-select-trigger .mat-select-arrow-wrapper
.mat-select-arrow {
  color: #151515;
}

.sort-input .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
  font-family: Poppins;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #151515;
  padding-left: 15px;
  display: flex;
  justify-content: flex-end;
}
