.sort-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 auto 0;
  width: 15.5%;
  height: 38px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.first-label {
  font-size: 13px;
  line-height: 19px;
  color: #151515;
  height: 19px;
  margin-left: 16px;
}

.vertical-line {
  display: flex;
  align-items: center;
}
