<div class="sort-input">
  <div class="first-label">
    <div>Sort by</div>
  </div>
  <div class="vertical-line">
    <img src="../../assets/vertical-line.png" alt="vertical-line">
  </div>
  <div class="second-label">
    <!--    <mat-form-field appearance="fill">-->
    <!--      <mat-label>All categories</mat-label>-->
    <!--      <mat-select>-->
    <!--        <mat-option *ngFor="let food of foods" [value]="food.value">-->
    <!--          {{food.viewValue}}-->
    <!--        </mat-option>-->
    <!--      </mat-select>-->
    <!--    </mat-form-field>-->
  </div>

</div>
