.main-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  margin: 29px 0 26px 17px;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding-right: 17px;
  padding-left: 17px;
  width: 42.81%;
}

.first-label {
  display: flex;
  align-items: center;
}

.vertical-line {
  display: flex;
  align-self: center;
}

.second-label {
  height: 19px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.second-label input {
  border: none;
  width: 262px;
  font-size: 14px;
  line-height: 19px;
  background-color: #F9F9F9;
  color: black;
  outline: none;
}

input::placeholder {
  color: #A9A9A9;
  opacity: 0.6;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  padding-left: 24px;
}

.search {
  display: flex;
  align-self: center;
}

.mat-form-field-wrapper {
  padding: 0;

}

.mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  display: flex;
  align-items: center;
  padding: 0;
}

.mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  height: 20px;
  padding-right: 15px;
  width: 140px;
  padding-bottom: 20px;
  background-color: #F9F9F9;
}

.mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-select .mat-select-trigger .mat-select-arrow-wrapper {
  padding-top: 5px;
}

.mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.mat-form-field .mat-form-field-wrapper .mat-form-field-underline {
  display: none;
}

