.main-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 29px 0 26px 17px;
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  width: 500px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}

.first-label {
  font-family: Poppins;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  padding-left: 16px;
}

.first-label p {
  margin: 0;
}

.arrow-down {
  display: flex;
  align-self: center;
}

.vertical-line {
  display: flex;
  align-self: center;
}

.second-label {
  width: 262px;
  height: 19px;
  display: flex;
  align-self: center;
}

.second-label input {
  border: none;
  top: 11px;
  left: 194px;
  width: 262px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  background-color: #F9F9F9;
  color: black;
  outline: none;
}

input::placeholder {
  color: #A9A9A9;
  opacity: 0.6;
}

.search {
  display: flex;
  align-self: center;
  margin-right: 7px;
}

.add-item {
  /*margin-right: 20px;*/
}
