@import "../../../../../mixins";

.main-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 29px 0 62px;
}

.logo {
  padding: 29px 0 26px;
}

.logo img {
  @include _1024 {
    width: 90%;
  }
  @include _836 {
    width: 80%;
  }
}

.search-input {
  @include _1240 {
    width: 44%;
  }
  @include _1170 {
    width: 46.5%;
  }
  @include _1125 {
    width: 48.5%;
  }
  @include _1080 {
    width: 50.6%;
  }
  @include _1024 {
    width: 45.6%;
    height: 35px;
  }
  @include _836 {
    width: 49%;
    height: 35px;
  }
  @include _380 {
    display: none;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding-right: 17px;
  padding-left: 17px;
  width: 42.81%;
}

.search {
  display: flex;
  align-items: center;
}

.search img {
  @include _1024 {
    width: 100%;
  }
  @include _836 {
    width: 90%;
  }
}

.vertical-line {
  display: flex;
}

.second-label {
  height: 19px;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 80%;
  padding-left: 24px;
}

.second-label input {
  border: none;
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  background-color: #F9F9F9;
  color: black;
  outline: none;
}

input::placeholder {
  @include _1024 {
    font-size: 12px;
  }
  @include _836 {
    font-size: 11px;
  }
  color: #A9A9A9;
  opacity: 0.6;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
}

.first-label {
  @include _1024 {
    padding-bottom: 4px;
    height: 25px;
  }
  display: flex;
  align-items: center;
  width: 42%;
}

.first-label .mat-form-field {
  width: 100%;
  @include _1024 {
    height: 30px;
  }
}

.first-label .mat-form-field-wrapper {
  padding: 0;
  @include _1024 {
    height: 25px;
  }
}

.first-label .mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  @include _1024 {
    height: 25px;
  }
  padding: 0;
  background-color: #F9F9F9;
}

.first-label .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix {
  @include _1024 {
    padding: 0;
  }
  height: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  background-color: #F9F9F9;
  margin-right: 9px;
  width: 100%;
}

.first-label .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix .mat-form-field-label-wrapper {
  @include _1024 {
    padding-top: 0;
    height: 27px;
  }
}

.first-label .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix .mat-select .mat-select-trigger .mat-select-value {
  padding-bottom: 20px;
}

.first-label .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix .mat-select .mat-select-trigger {
  @include _1024 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.first-label .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix .mat-select .mat-select-trigger .mat-select-arrow-wrapper {
  @include _1024 {
    padding-bottom: 11px;
  }
  @include _836 {
    padding-bottom: 12px;
  }
  padding-top: 5px;
}

.first-label .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix .mat-select .mat-select-trigger .mat-select-arrow-wrapper
.mat-select-arrow {
  color: #6A983C;
}

.first-label .mat-form-field .mat-form-field-wrapper .mat-form-field-flex
.mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label {
  @include _1024 {
    font-size: 13px;
  }
  @include _836 {
    font-size: 11px;
  }
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.first-label .mat-form-field .mat-form-field-wrapper .mat-form-field-underline {
  display: none;
}

.add-item img {
  @include _1024 {
    width: 45%;
  }
  @include _836 {
    width: 40%;
  }
}
