<div class="main-search-bar">
    <span class="logo">
  <img class="logo" src="../../assets/logo.png" alt="logo">
    </span>
  <div class="search-input">
    <div class="first-label">
      <mat-form-field appearance="fill">
        <mat-label>All categories</mat-label>
        <mat-select (selectionChange)="getCategoryValue($event)">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="vertical-line">
      <img src="../../assets/vertical-line.png" alt="vertical-line">
    </div>
    <div class="second-label">
      <input type="text" placeholder="Search Products, categories ...">
    </div>
    <div class="search">
      <img src="../../assets/search.png" alt="search-logo">
    </div>
  </div>
  <div class="add-item">
    <img src="../../assets/user.png" alt="user-logo">
    <img src="../../assets/shopping_basket.png" alt="basket">
  </div>
</div>
