<div class="main-search-bar">
  <span class="logo">
    <img src="../../assets/logo.png" alt="logo">
  </span>
  <div class="search-input">
    <div class="first-label">
      <!--      <p>All categories</p>-->
      <mat-form-field appearance="fill">
        <mat-label>All categories</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!--    <div class="arrow-down">-->
    <!--      <img src="../../assets/arrow-down.png" alt="arrow-down">-->
    <!--    </div>-->
    <div class="vertical-line">
      <img src="../../assets/vertical-line.png" alt="vertical-line">
    </div>
    <div class="second-label">
      <input type="text" placeholder="Search Products, categories ...">
    </div>
    <div class="search">
      <img src="../../assets/search.png" alt="search-logo" width="20">
    </div>
  </div>
  <div class="add-item">
    <img src="../../assets/user.png" alt="user-logo" width="30">
    <img src="../../assets/shopping_basket.png" alt="basket" width="30">
  </div>
</div>
