@import "../../../../mixins";

.footer {
  display: flex;
  flex-direction: column;
  padding: 64px 45px;
}


.footer-links {
  display: flex;
  justify-content: space-between;
}

.earnings {
  @include _480 {
    padding: 0 15px;
  }
}

.get-in-touch {
  @include _600 {
    display: none;
  }
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

ul li {
  @include _768 {
    font-size: 13px;
  }
  @include _625 {
    font-size: 12px;
  }
  @include _600 {
    font-size: 13px;
  }
  @include _420 {
    font-size: 12px;
  }
  list-style: none;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
  margin-bottom: 16px;
}

ul li:last-child {
  margin-bottom: 0;
}

h2 {
  @include _768 {
    font-size: 17px;
  }
  @include _625 {
    font-size: 16px;
  }
  @include _600 {
    font-size: 17px;
  }
  @include _420 {
    font-size: 16px;
  }
  margin: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}


.footer-tags {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row p {
  @include _535 {
    margin: 14px 14px 0 0;
  }
  @include _480 {
    margin: 12px 12px 0 0;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  background: #F5F5F5;
  border-radius: 12px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  margin: 16px 16px 0 0;
}


.footer-copyright {
  margin-top: 48px;
}

.footer-copyright p {
  @include _1024 {
    font-size: 13px;
  }
  @include _535 {
    font-size: 12px;
  }
  font-size: 14px;
  line-height: 19px;
  color: #151515;
  margin: 0;
}
