@import "../../../../mixins";

.footer {
  display: flex;
  flex-direction: column;
  padding: 81px 45px 78px;
}

.footer .footer-links .connections, .earnings {
  @include _600 {
    margin: 0 15px;
  }
  @include _480 {
    margin: 0 8px;
  }
  @include _480 {
    margin: 0 6px;
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

ul li {
  @include _1024 {
    font-size: 13px;
  }
  @include _768 {
    font-size: 12px;
  }
  @include _600 {
    font-size: 11px;
  }
  @include _480 {
    font-size: 10px;
  }
  @include _420 {
    font-size: 9px;
  }
  @include _380 {
    font-size: 8px;
  }
  list-style: none;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
  margin-bottom: 16px;
}

ul li:last-child {
  margin-bottom: 0;
}

h2 {
  @include _1024 {
    font-size: 17px;
  }
  @include _768 {
    font-size: 16px;
  }
  @include _600 {
    font-size: 15px;
    white-space: nowrap;
  }
  @include _480 {
    font-size: 14px;
  }
  @include _420 {
    font-size: 12.5px;
  }
  @include _380 {
    font-size: 11px;
  }
  margin: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}


.footer-tags {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row p {
  @include _768 {
    font-size: 11px;
    padding: 3px 9px;
  }
  @include _600 {
    font-size: 10px;
    padding: 3px 8px;
  }
  @include _480 {
    font-size: 9px;
    padding: 2px 7px;
  }
  @include _420 {
    font-size: 8px;
  }
  @include _380 {
    font-size: 7px;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  background: #F5F5F5;
  border-radius: 12px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  margin: 16px 16px 0 0;
}


.footer-copyright {
  margin-top: 48px;
}

.footer-copyright p {
  @include _768 {
    font-size: 13px;
  }
  @include _600 {
    font-size: 12px;
  }
  @include _480 {
    font-size: 11px;
  }
  @include _420 {
    font-size: 10px;
  }
  @include _380 {
    font-size: 9px;
  }
  font-size: 14px;
  line-height: 19px;
  color: #151515;
  margin: 0;
}
