<div class="footer">
  <div class="footer-links">
    <div class="get-in-touch">
      <h2>Get in touch</h2>
      <ul>
        <li>About Us</li>
        <li>Careers</li>
        <li>Press Releases</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="connections">
      <h2>Connections</h2>
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Youtube</li>
        <li>LinkedIn</li>
      </ul>
    </div>
    <div class="earnings">
      <h2>Earnings</h2>
      <ul>
        <li>Become an Affiliate</li>
        <li>Advertise your product</li>
        <li>Sell on Market</li>
      </ul>
    </div>
    <div class="account">
      <h2>Account</h2>
      <ul>
        <li>Your account</li>
        <li>Returns Centre</li>
        <li>100% purchase protection</li>
        <li>Chat with us</li>
        <li>Help</li>
      </ul>
    </div>
  </div>
  <div class="footer-tags"></div>
  <div class="footer-copyright"></div>
</div>
