@import "src/mixins";

.summary-container {
  padding: 16px 45px;
  display: flex;
  justify-content: space-between;
}


.forms-container {
  width: 60.15%;
}


.billing-info-header {
  @include _900 {
    padding-top: 15px;
  }
}


.billing-info-header span:first-child, .additional-information-header span:first-child,
.confirmation-header span:first-child, .order-summary-header span:first-child {
  margin: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  color: #151515;
}


.billing-info-header span:last-child, .additional-information-header span:last-child,
.confirmation-header span:last-child, .order-summary-header span:last-child,
.image-wishlist-remove span, .property p {
  font-size: 12px;
  color: #A9A9A9;
  line-height: 16px;
}


.forms-field {
  @include _900 {
    padding-top: 40px;
  }
  padding-top: 32px;
}


.forms-field label, .additional-information-input label {
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  margin: 0;
}


.forms-field input, .promo-code {
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  height: 42px;
  width: 100%;
  padding: 12px 16px 12px 21px;
}


.forms-field input::placeholder {
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}


.name, .surname, .email-address, .phone-number,
.address, .town-city, .state-country,
.zip-postal-code {
  @include _900 {
    margin-bottom: 25px;
    width: 100%;
  }
  width: 48%;
}


.first-name-last-name, .email-address-phone-number, .address-city, .country-zip {
  @include _900 {
    flex-direction: column;
    margin-bottom: 20px;
  }
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}


.country-zip {
  margin-bottom: 0;
}


.additional-information {
  @include _900 {
    top: 1186px;
    width: 75%;
  }
}


.confirmation {
  @include _900 {
    top: 1450px;
    padding-bottom: 50px;
  }
}


.additional-information, .confirmation {
  @include _900 {
    position: absolute;
  }
  margin-top: 64px;
}


.additional-information-input {
  margin-top: 32px;
}


.additional-information-input input {
  padding: 11px 16px 82px 21px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  width: 100%;
}


.agree-inputs, .complete-order {
  margin-top: 32px;
}


.agree-inputs div {
  @include _1170 {
    padding: 10px;
  }
  @include _900 {
    padding: 11.5px 16px 11.5px 18px;
  }
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding: 11.5px 16px 11.5px 18px;
  display: flex;
  align-items: center;
}


.agree-inputs div.email-checkbox {
  @include _1170 {
    margin-right: 61.5px;
  }
  @include _1080 {
    margin-right: 8px;
  }
  @include _900 {
    margin-right: 102.5px;
  }
  margin-bottom: 16px;
  margin-right: 102.5px;
}


.agree-inputs div.policy-checkbox {
  @include _1170 {
    margin-right: 172px;
  }
  @include _1080 {
    margin-right: 110px;
  }
  @include _900 {
    margin-right: 221px;
  }
  margin-right: 221px;
}


.email-checkbox label, .policy-checkbox label {
  @include _1170 {
    font-size: 13px;
  }
  @include _1080 {
    font-size: 12px;
  }
  @include _900 {
    font-size: 14px;
  }
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}


.email-checkbox input[type='checkbox'], .policy-checkbox input[type='checkbox'] {
  @include _1170 {
    min-width: 18px;
    height: 18px;
  }
  @include _900 {
    min-width: 20px;
    height: 20px;
  }
  min-width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}


.complete-order button {
  background: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
  padding: 16.5px 48px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}


button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}


.complete-order button:hover {
  box-shadow: 0 0 12px rgba(23, 23, 33, .2);
}


.wrapper {
  @include _900 {
    height: 970px;
  }
}


.order-summary {
  @include _836 {
    margin-left: 20px;
  }
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  padding: 32px 16px 34px;
  margin-left: 32px;
  margin-top: 18px;
}


.ordered-products {
  margin: 40px 0 62px;
  max-height: 510px;
  overflow-y: auto;
}


.summary-product {
  display: flex;
}


.indentation {
  margin-bottom: 54px;
}


.image-wishlist-remove img.product-image {
  width: 100px;
  height: 67px;
  object-fit: cover;
  border-radius: 12px;
}


.image-wishlist-remove span.wish-list, span.remove {
  margin-left: 7px;
}


.summary-product-description {
  margin-left: 16px;
  width: 44%;
}


.summary-product-description h3 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  margin: 0;
}


.farm-freshness {
  display: flex;
  margin-top: 4px;
  font-size: 12px;
}


.farm-freshness p {
  margin: 0;
}


.property p:first-child, .value p:first-child {
  margin-bottom: 7px;
  white-space: nowrap;
}


.value {
  margin-left: 14px;
}


.value p {
  line-height: 16px;
  color: #151515;
}


.summary-rating {
  margin-top: 8px;
}


.stars {
  margin-right: 4.5px;
}


.summary-product-description h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #6A983C;
  margin: 17.6px 0 0;
}


.pcs {
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 6px;
  margin: 102px 3px 0 30px;
}


.pcs span {
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}


.pcs span.pcs-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}


.pcs img.vertical {
  padding: 0 8px 0 6px;
}


.pcs img:last-child {
  padding-left: 7.5px;
}


.subtotal, .tax, .total-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.subtotal *, .tax *, .total-order h5 {
  margin: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}


.subtotal {
  margin-bottom: 12px;
}


.promo-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0 40px;
}


.promo-code input {
  border: none;
  background-color: #F9F9F9;
}


.promo-code input:focus {
  outline: none;
}

.promo-code button {
  font-family: Poppins;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  border: none;
  background-color: #F9F9F9;
}


.promo-code button:hover {
  cursor: pointer;
}


.total-order div:first-child p {
  margin: 5px 0 0;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
}


.total-order div:last-child p:first-child {
  font-size: 16px;
  color: grey;
  margin: 0;
}


.total-order div:last-child p:last-child {
  font-family: Poppins;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #6A983C;
  margin: 0;
}


mat-error {
  position: absolute;
  font-size: 13px;
}


.ordered-products::-webkit-scrollbar {
  background-color: #F9F9F9;
}


.ordered-products::-webkit-scrollbar-thumb {
  background: #D1D1D1;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
