<div class="product-detail-content">
  <div class="product-images">
    <img class="first" src="https://www.nipponexpress.com/press/report/img/06-Nov-20-ogp.jpeg" alt="banana">
    <img class="second" src="https://www.nipponexpress.com/press/report/img/06-Nov-20-ogp.jpeg" alt="banana">
    <img class="third" src="https://www.nipponexpress.com/press/report/img/06-Nov-20-ogp.jpeg" alt="banana">
  </div>
  <div class="product-description">
    <h1 class="product-name">Carrots from Tomissy Farm</h1>
    <div class="product-rating">
      <span class="stars" *ngFor="let star of starArr"><img src="{{star}}" alt="rating-star"></span>
      <span class="customer-review">(1 customer review)</span>
    </div>
    <div class="item-description">
      Carrots from Tomissy Farm are one of the best on the market. Tomisso and his family are giving a full love to his
      Bio products. To misso’s carrots are growing on the fields naturally.
    </div>
    <p>asffsaasddddddddddddddddddddsddddddddddddddddddddddddddddddddddddd</p>
    <p>asffsa</p>
    <p>asffsa</p>
  </div>
</div>
<app-footer></app-footer>
