.all-products-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.title {
  height: 48px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #151515;
}

.products-quantity {
  display: flex;
  align-items: center;
}

.products-quantity p {
  margin: 0;
}

.products-quantity p:first-child {
  padding: 0 8px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background: #F4F8EC;
  height: 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-quantity p:last-child {
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}
