.page-title {
  height: 48px;
  background: #FDFDFD;
  display: flex;
  align-items: center;
}

.page-title a {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.page-title img {
  margin-left: 5px;
}
