@import "../../../../mixins";

.page-title {
  @include _600 {
    height: 30px;
  }

  height: 48px;
  background: #FDFDFD;
  display: flex;
  align-items: center;
}

.page-title a {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  padding-left: 45px;
}

.page-title img {
  margin-left: 5px;
}
