@import "../../../../mixins";

.page-title {
  @include _600 {
    height: 30px;
  }
  @include _420 {
    height: 20px;
  }
  height: 48px;
  background: #FDFDFD;
  display: flex;
  align-items: center;
}

.page-title a {
  @include _600 {
    font-size: 10px;
  }
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  padding-left: 45px;
}

.page-title img {
  margin-left: 5px;
}
