@import "../../../../mixins";


.wrapper-content {
  @include _970 {
    justify-content: center;
  }
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 64px 45px 0;
}

app-aside {
  @include _970 {
    display: none;
  }
  margin-right: 32px;
  width: 23%;
}

.wrapper-content .main {
  width: 77%;
}

.card {
  width: 77%;
}

.wrapper-content .ng-star-inserted {
  width: 100%;
}

.pagination {
  @include _600 {
    height: 70px;
  }
  @include _535 {
    height: 40px;
    position: relative;
  }
  @include _420 {
    height: 30px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 45px;
}

.page-control {
  display: flex;
  align-items: center;
}

.page-control p {
  @include _1024 {
    font-size: 11px;
  }
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  margin: 0 5px 0 0;
}

pagination-controls pagination-template .ngx-pagination li a {
  @include _1024 {
    font-size: 11px;
  }
  font-size: 12px;
  line-height: 16px;
  color: #151515;
  padding: 0 3px;
}

pagination-controls pagination-template .ngx-pagination li.pagination-previous.disabled {
  padding: 0;
  margin: 0;
}

pagination-controls pagination-template ul.ngx-pagination {
  padding-left: 0;
  margin: 0;
}

pagination-controls pagination-template {
  .ngx-pagination li.pagination-previous a, .ngx-pagination li.pagination-previous.disabled::before,
  .ngx-pagination li.pagination-previous.disabled span, .ngx-pagination li.pagination-next {
    display: none;
  }
}

pagination-controls pagination-template .ngx-pagination li.current {
  @include _1024 {
    font-size: 11px;
  }
  color: #6A983C;
  background-color: white;
  font-size: 12px;
  line-height: 16px;
  padding: 0 3px;
  margin-right: 0;
}

.show-more-products {
  @include _1024 {
    padding: 11px 15px;
  }
  @include _768 {
    padding: 10px 14px;
  }
  @include _600 {
    padding: 8px 11px;
  }
  @include _535 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @include _420 {
    padding: 6px 10px;
  }
  @include _380 {
    padding: 4px 8px;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  background: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
}

.show-more-products button {
  @include _1024 {
    font-size: 14px;
  }
  @include _420 {
    font-size: 12px;
  }
  background: #6A983C;
  border: none;
  font-family: Poppins;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}

.show-more-products button:hover {
  cursor: pointer;
}

.show-more-products img {
  margin-left: 5px;
}

.all-products-quantity {
  display: flex;
  align-items: center;
}

.all-products-quantity p {
  margin: 0;
  padding: 0 4px;
}

.all-products-quantity p:first-child {
  @include _1024 {
    font-size: 11px;
  }
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background: #F4F8EC;
  height: 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}

.all-products-quantity p:last-child {
  @include _1024 {
    font-size: 11px;
  }
  height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}


