/* You can add global styles to this file, and also import other style files */

html {
  margin: 0 auto;
  padding: 16px 45px 78px;
  max-width: 1260px;
  font-family: Open Sans, Poppins;
  border: 1px solid dodgerblue;
}

body {
  max-width: 1260px;
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: border-box;
}


