@import "../../../../../mixins";

.navbar {
  @include _768 {
    display: flex;
    justify-content: space-between;
  }
  @include _600 {
    justify-content: center;
  }
  @include _480 {
    display: none;
  }
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar {
  display: flex;
}

.right-navbar {
  @include _600 {
    display: none;
  }
  display: flex;
}

.navbar a {
  text-decoration: none;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
}

.left-navbar a {
  @include _600 {
    color: #6A983C;
  }
  color: #151515;
}

.left-navbar a:first-child {
  color: #6A983C;
}

.left-navbar a.phone {
  @include _768 {
    padding: 0 15px;
  }
  padding: 0 33px;
}

.right-navbar a {
  color: #6A983C;
}

.right-navbar a.about-us {
  @include _768 {
    padding: 0 15px;
  }
  padding: 0 33px;
}
