@import "../../../../../mixins";

.navbar {
  @include _600 {
    height: 38px;
  }
  @include _535 {
    justify-content: center;
  }
  @include _420 {
    justify-content: space-between;
  }
  margin: 0;
  padding: 16px 45px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar {
  @include _420 {
    display: none;
  }
  display: flex;
}

.right-navbar {
  @include _535 {
    display: none;
  }
  display: flex;
}

.navbar a {
  @include _600 {
    font-size: 11px;
  }
  text-decoration: none;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
}

.left-navbar a {
  color: #151515;
}

.left-navbar a:first-child {
  color: #6A983C;
}

.left-navbar a.phone {
  @include _768 {
    padding: 0 20px;
  }
  @include _600 {
    padding: 0 12px;
  }
  padding: 0 33px;
}

.right-navbar a {
  color: #6A983C;
}

.right-navbar a.about-us {
  @include _768 {
    padding: 0 20px;
  }
  @include _600 {
    padding: 0 12px;
  }
  padding: 0 33px;
}


// burger button styles

.burger {
  @include _420 {
    display: block;
  }
  display: none;
  width: 26%;
  height: 100%;
  padding-bottom: 15px;
}

#sidebarMenu {
  z-index: 100;
  transform: translateY(-171px);
}

.main-content-wrapper a {
  font-size: 7px;
  height: 13px;
  display: block;
  background: #B3D58F;
  text-align: center;
  border: 1px solid #4b4545;
  color: #151515;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translatey(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  cursor: pointer;
  height: 20px;
  width: 25%;
}

.spinner {
  transition: all 0.3s;
  height: 3px;
  width: 100%;
  background-color: black;
}

.horizontal {
  transition: all 0.3s;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  transform: rotate(-135deg);
  margin-top: -9px;
}

@media screen and (max-width: 950px) {
  .sidebarIconToggle {
    display: block
  }
}

.logo {
  @include _420 {
    display: inline;
    padding: 0;
    width: 40%;
  }
  @include _360 {
    width: 50%;
  }
  display: none;
}

.cart {
  @include _420 {
    display: flex;
    justify-content: flex-end;
    width: 25%;
  }
  display: none;
}

.cart img {
  @include _420 {
    width: 28%;
  }
  @include _360 {
    width: 52%;
  }
  width: 40%;
}


.add-to-cart-items {
  position: absolute;
  top: 10px;
  right: 40px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  background: #E6704B;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 0px 5px;
}
