@import "../../../../../mixins";

.navbar {
  @include _600 {
    height: 38px;
  }
  @include _480 {
    height: 30px;
  }
  @include _420 {
    height: 25px;
  }
  @include _380 {
    display: none;
  }
  margin: 0;
  padding: 0 45px;
  background-color: #FFFFFF;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-navbar {
  display: flex;
}

.right-navbar {
  display: flex;
}

.navbar a {
  @include _1024 {
    font-size: 11px;
  }
  @include _836 {
    font-size: 10px;
  }
  @include _768 {
    font-size: 9px;
  }
  @include _600 {
    font-size: 8px;
  }
  @include _480 {
    font-size: 7px;
  }
  text-decoration: none;
  height: 16px;
  font-size: 12px;
  line-height: 16px;
}

.left-navbar a {
  color: #151515;
}

.left-navbar a:first-child {
  color: #6A983C;
}

.left-navbar a.phone {
  @include _768 {
    padding: 0 15px;
  }
  @include _600 {
    padding: 0 12px;
  }
  @include _420 {
    padding: 0 6px;
  }
  padding: 0 33px;
}

.right-navbar a {
  color: #6A983C;
}

.right-navbar a.about-us {
  @include _768 {
    padding: 0 15px;
  }
  @include _600 {
    padding: 0 12px;
  }
  padding: 0 33px;
}


